.hexagon {
    clip-path: polygon(
      25% 6.7%, 
      75% 6.7%, 
      100% 50%, 
      75% 93.3%, 
      25% 93.3%, 
      0% 50%
    );
  }
  
/* 
  .hexagon {
    clip-path: polygon(
      25% 6.7%, 
      75% 6.7%, 
      100% 50%, 
      75% 93.3%, 
      25% 93.3%, 
      0% 50%
    );
  }
  

  @media (max-width: 640px) {
    .hexagon {
      clip-path: polygon(
        20% 10%, 
        80% 10%, 
        100% 50%, 
        80% 90%, 
        20% 90%, 
        0% 50%
      );
    }
  }
   */


  


/* 
  <div className="flex flex-wrap justify-between  bg-[#a6c465] mb-20 text-black">

  <div className="flex items-end justify-center w-1/2 h-full text-black">
    <div className="relative h-[400px] w-[400px]">

      <div className="absolute w-[100px] h-[100px] bg-black" style={{ bottom: '0', left: '0' }}></div>
      <div className="absolute w-[100px] h-[100px] bg-black" style={{ bottom: '100px', left: '100px' }}></div>
      <div className="absolute w-[100px] h-[100px] bg-black" style={{ bottom: '200px', left: '200px' }}></div>
      <div className="absolute w-[100px] h-[100px] bg-black" style={{ bottom: '300px', left: '300px' }}></div>


      <div className="absolute animate-walk" style={{ bottom: '300px', left: '300px' }}>
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="black" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round" className="feather feather-walk">
          <path d="M19 14l-6 6-1.5-4.5L6 11H3v6h2.5M3 3l2.5 2.5"></path>
          <circle cx="12" cy="7" r="3"></circle>
        </svg>
      </div>

      
    </div>
  </div>


  <div className="w-1/2 p-8  text-black shadow-lg rounded-lg bg-[#a6c40] ">
    <h1 className="text-4xl font-bold mb-4">SMBULL IT Company</h1>
    <p className="text-lg mb-6">
      SMBULL IT Company is a leading provider of cutting-edge IT services. We specialize in web development, cloud computing, and
      cybersecurity. Our innovative solutions help businesses scale and secure their operations efficiently.
    </p>
    <ul className="list-disc ml-6">
      <li>Web Development</li>
      <li>Cloud Computing</li>
      <li>Cybersecurity</li>
      <li>Big Data Analytics</li>
      <li>Artificial Intelligence</li>
    </ul>
  </div>
</div> */